@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-left">
    <h1 class="display-4">Weather Data</h1>
    
</div>

<table class="table">
    <thead>
        <tr>
            <th>Summary</th>
            <th>Date</th>
            <th>C</th>
            <th>F</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.WeatherData)
        {
            <tr>
                <td>@item.Summary</td>
                <td>@item.Date</td>
                <td>@item.TemperatureC</td>
                <td>@item.TemperatureF</td>
            </tr>
        }

    </tbody>
</table>
